In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv("data.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77575 entries, 0 to 77574
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   productoffering_name        77575 non-null  object
 1   current_status              77575 non-null  object
 2   msisdn                      77575 non-null  int64
 3   actual_start_date           77575 non-null  object
 4   activation_date             77575 non-null  object
 5   distribution_channel_value  77575 non-null  object
 6   Unnamed: 6                  0 non-null      float64
 7   Unnamed: 7                  0 non-null      float64
 8   Unnamed: 8                  77575 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 5.3+ MB

In [ ]:
df.describe()

             msisdn  Unnamed: 6  Unnamed: 7    Unnamed: 8
count  7.757500e+04         0.0         0.0  7.757500e+04
mean   9.687857e+10         NaN         NaN  9.687845e+10
std    5.513078e+06         NaN         NaN  5.571578e+06
min    9.687100e+10         NaN         NaN  9.687101e+10
25%    9.687664e+10         NaN         NaN  9.687628e+10
50%    9.687669e+10         NaN         NaN  9.687664e+10
75%    9.687720e+10         NaN         NaN  9.687733e+10
max    9.689990e+10         NaN         NaN  9.690000e+10

In [ ]:
print(f"\nالعدد الكلي لأرقام الهواتف الفريدة هو: {df['msisdn'].nunique()}")

العدد الكلي لأرقام الهواتف الفريدة هو: 76120

In [ ]:
df['productoffering_name'].value_counts()

productoffering_name
Advance                      37226
Premium                       7445
PAYG Plus                     7177
Start                         6287
Vodafone Blue                 3600
BLACK Explore                 2467
BLACK Elite                   2321
Explore                       1938
Elite                         1621
BLACK Pioneer                 1537
Business Data PAYG            1474
Start Plus                     839
Pioneer                        668
New Business Expand            442
Business Elite                 385
Business Data                  325
Advance Visitor Summer 23      323
Business Explore Local         294
New Business Explore           173
Student Black Explore 24       160
Premium Visitor Summer 23      155
BLACK Prime                    112
Student Red Premium 24         107
Business Start Plus            104
Business Start                 104
Business Pioneer                96
Student Red Explore 24          85
Business Prime                  45
Employee plan                   41
Data OTC                        10
New Business 2                   8
New Business 1                   6
Name: count, dtype: int64

In [ ]:
df['productoffering_name'].value_counts().head(3)

productoffering_name
Advance      37226
Premium       7445
PAYG Plus     7177
Name: count, dtype: int64

In [ ]:
df['current_status'].value_counts().get('Active', 0)

75339

In [ ]:
print(df['distribution_channel_value'].value_counts())

distribution_channel_value
Retail on wheel        39115
Flagship               18997
App                     9963
Enterprise Portal       3439
Care Digital            2844
Contact Center          2506
eKiosk                   430
Organized retailers      267
ECARE                      7
VIP Assisted               6
Back Office                1
Name: count, dtype: int64

In [ ]:
least_cancelled_channel = df['distribution_channel_value'].value_counts().index[-1]
print(least_cancelled_channel)

Back Office

In [ ]:
earliest_start = df['actual_start_date'].min()
latest_activation = df['activation_date'].max()
print(f"Earliest actual_start_date: {earliest_start}")
print(f"Latest activation_date: {latest_activation}")

Earliest actual_start_date: 2022-02-20 21:03:00
Latest activation_date: 2025-05-31 23:59:00

In [ ]:
df['actual_start_date'] = pd.to_datetime(df['actual_start_date'], errors='coerce')
df['activation_date'] = pd.to_datetime(df['activation_date'], errors='coerce')
time_difference = df['activation_date'] - df['actual_start_date']
average_days = time_difference.dt.days.abs().mean()
print(average_days)

0.7761778923622301

In [ ]:
df['activation_date'] = pd.to_datetime(df['activation_date'], errors='coerce')
april_activations = df[df['activation_date'].dt.month == 4]
count_april = len(april_activations)
print(f"Total products activated in April: {count_april}")

Total products activated in April: 28336

In [ ]:
total_starts_df = df.groupby('distribution_channel_value')['actual_start_date'].count().reset_index(name='Total_Starts')

df['is_active'] = np.where(df['current_Status'] == 'Active', 1, 0)
active_counts = df.groupby('distribution_channel_value')['is_active'].sum().reset_index(name='Active_Count')

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv('data.csv') 

df['is_active'] = np.where(df['current_status'] == 'Active', 1, 0)

active_counts = df.groupby('distribution_channel_value')['is_active'].sum().reset_index(name='Active_Count')

highest_active_channel = active_counts.sort_values(by='Active_Count', ascending=False).iloc[0]

print(f" {highest_active_channel['distribution_channel_value']}")
print(f" {highest_active_channel['Active_Count']}")

 Retail on wheel
 39115